.links-content {
    margin-top: 1rem;
}

.link-navigation::after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    width: 45%;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 0.15s;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px #d9d9d980;
    padding: 20px 15px;
    backdrop-filter: blur(2px);
}

.card:nth-child(odd) {
    float: left;
}

.card:nth-child(even) {
    float: right;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    border-radius: 25px;
    box-shadow: 0 0 20px #d9d9d980;
    padding: 20px 15px;
    backdrop-filter: blur(4px);
}

.card a {
    border: none;
}

.card .ava {
    width: 5rem !important;
    height: 5rem !important;
    margin: 0 !important;
    margin-right: 1em !important;
    border-radius: 4px;
}

.card .card-header {
    font-style: italic;
    overflow: hidden;
    width: 100%;
}

.card .card-header a {
    font-style: normal;
    color: #2bbc8a;
    font-weight: bold;
    text-decoration: none;
}

.card .card-header a:hover {
    color: #d480aa;
    text-decoration: none;
}

.card .card-header .info {
    font-style: normal;
    color: #a3a3a3;
    font-size: 17px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
}